/*
    Main CSS
*/
html, body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

h1 {
    color: #585858;
    font-size: 1.5rem;
    margin-top: 8px;
}

header {
    text-align: center;
    height: 88px;
    background-color: #F7F7F7;
    background: url(../../imgs/offline-rex.jpg) center / contain no-repeat;
}

span#connectivity-indicator.connectivity-online{
    color: green;
}

span#connectivity-indicator.connectivity-offline{
    color: #CE1F1F;
}

.side-nav-switch {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 20px;
    top: calc(88px + 20px);
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../../imgs/plus.svg) center / 100% no-repeat;
    transition: 0.5s ease-in-out;
}

.surviving-offline {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.offline-body {
    display: flex;
}

.offline-nav {
    color: #F7F7F7;
    background-color: #585858;
    overflow: hidden;
    width: 350px;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 88px;
    left: -350px;
    bottom: 0;
    z-index: 1;
    will-change: transform;
}

.offline-nav.open {
    left: 0;
}

.offline-nav * {
    overflow: hidden;
    white-space: nowrap;
}

.create-todo-form {
    padding: 8px;
}

.create-todo-form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-todo-form textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.offline-nav button {
    width: calc(100% - 16px);
    margin: 8px;
}

.offline-button {
    border: 1px;
    border-radius: 5px;
    background: white;
    line-height: 1.3rem;
    font-size: 1rem;
}

.offline-content {
    height: calc(100vh - 88px);
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-container.fade-out {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.card-container {
    width: 60%;
    max-width: 700px;
    padding-top: 1px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: block;
}

@media screen and (max-width: 800px) {
    html, body {
        font-size: 16px;
    }

    header {
        height: 135px;
    }

    .offline-content {
        height: calc(100vh - 135px);
    }

    .side-nav-switch {
        left: 20px;
        top: calc(135px + 20px);
    }

    .offline-nav {
        top: 135px;
        width: 60%;
        left: -60%;
    }
}

@media screen and (max-width: 400px) and (min-width: 0px) {
    h1 {
        font-size: 1rem;
    }

    .offline-button {
        line-height: 0.8rem;
        font-size: 0.8rem;
    }

    .create-todo-form textarea {
        height: 50px;
    }
}