/*
    Main CSS
*/
h1 {
    color: #585858;
    font-size: 2rem;
    margin-top: 8px;
}

header {
    text-align: center;
    height: 88px;
    background-color: #F7F7F7;
    background-image: url("../../imgs/offline-rex.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.surviving-offline {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.offline-body {
    display: flex;
    flex: 1;
}

.offline-nav {
    color: #F7F7F7;
    background-color: #585858;
    order: 0;
    /* 16em is the width of the columns */
    flex: 0 0 16em;
    max-width: 16em;
    padding: 8px;
}

.offline-nav.create-todo-form {
    width: 100%;
    max-width: 16em;
}

.create-todo-form input {
    width: 100%;
}

.create-todo-form textarea {
    width: 100%;
    resize: vertical;
}

.offline-nav button {
    width: 100%;
}

.offline-content {
    height: calc(100vh - 88px);
    order: 1;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-container.fade-out {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}